.page-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-card {
    border: 1px solid red;
    padding: 1rem .5rem;
    width: 200px;
    height: 100px;
    border-radius: .5rem;
}
